@charset "utf-8"
.dialog {
    position: absolute;
    border-radius: 6px 6px 6px 6px;
    left: 40%;
    top:150;
    background-color: white;
    padding: 10px 14px;
    width: 240px;
    height: 120px;
}
section.wrapper {
    width: 800px;
    margin: 0px auto;
}
body {
	font-family: Inconsolata, Ricty, Consolas, "Source Code Pro", "Anonymous Pro", "Ubuntu Mono", "Dejavu Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
}
p {
	font-size: 14px;
}
.arrange_hirizon div.text {
	vertical-align: top;
	padding: 0px 5px;
}
.arrange_hirizon div{
	display: table-cell;
}